.App {
	margin: 50px;
	background-color: balsk;

}

.count {
	width: 500px;
	border: 1px solod gray;
	padding: 20px;
	text-align: 10px;
	text-align: center;
}

.dutton {
	font-size: 30;
	background-color: white;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	padding: 5px 10px;
}

.text {
	margin: 0px 20px;
	font-size: 30px;
}

.input-group span {
	width: 150px;
	justify-content: center;
}

.active {
	color: black;
}

a {
	text-decoration: none !important;
	color: white;
}

.home {
	font-size: 1.5rem;
	color: white;
	margin-right: 20px;
}

.navbar-nav a {
	color: white;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.photo {
	border-radius: 50%;
	cursor: pointer;
}

.heart {
	color: red;
	cursor: pointer;
}

small {
	color: gray;
}